@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes colorChange {
  0% {
    color: rgb(209, 190, 15);
  }
  25% {
    color: rgb(62, 159, 238);
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: rgb(132, 29, 146);
  }
}

.animate-colorChange {
  animation: colorChange 5s infinite;
  text-shadow: 2px -2px 5px currentColor;
}

.border{
  animation: colorChange 5s infinite;

}